<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>用户管理</title>
<meta name="description" content="这是一个 index 页面">
<meta name="keywords" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png"
	href="../../js/amazeUI/assets/i/favicon.png">
<link rel="apple-touch-icon-precomposed"
	href="../../js/amazeUI/assets/i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<script src="../../js/amazeUI/assets/js/echarts.min.js"></script>
<link rel="stylesheet"
	href="../../js/amazeUI/assets/css/amazeui.min.css" />
<link rel="stylesheet"
	href="../../js/amazeUI/assets/css/amazeui.datatables.min.css" />
<link rel="stylesheet" href="../../js/amazeUI/assets/css/app.css">
<link rel="stylesheet" href="../../css/mricode.pagination.css">
<script src="../../js/amazeUI/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/common/mricode.pagination.js"></script>
<script type="text/javascript" src="../../js/common/init-common-jq.js"></script>
</head>

<body data-type="widgets">
	<script src="../../js/amazeUI/assets/js/theme.js"></script>
	
	<div class="am-g tpl-g">
		<!-- 头部 -->
		<header>
			<!-- logo -->
			<div class="am-fl tpl-header-logo">
				<a href="host"><img
					src="../../js/amazeUI/assets/img/logo.png" alt=""></a>
			</div>
			<!-- 右侧内容 -->
			<div class="tpl-header-fluid">
				<!-- 侧边切换 -->
				<div class="am-fl tpl-header-switch-button am-icon-list">
					<span> </span>
				</div>
				<!-- 搜索 -->
				<div class="am-fl tpl-header-search">
					<form class="tpl-header-search-form" action="javascript:;">
						<button class="tpl-header-search-btn am-icon-search"></button>
						<input class="tpl-header-search-box" type="text"
							placeholder="搜索内容...">
					</form>
				</div>
				<!-- 其它功能-->
				<div class="am-fr tpl-header-navbar">
					<ul>
						<!-- 欢迎语 -->
						<li class="am-text-sm tpl-header-navbar-welcome"><a
							href="javascript:;">欢迎你, <span>Amaze UI</span>
						</a></li>

						<!-- 新邮件 -->
						<li class="am-dropdown tpl-dropdown" data-am-dropdown><a
							href="javascript:;"
							class="am-dropdown-toggle tpl-dropdown-toggle"
							data-am-dropdown-toggle> <i class="am-icon-envelope"></i> <span
								class="am-badge am-badge-success am-round item-feed-badge">4</span>
						</a> <!-- 弹出列表 -->
							<ul class="am-dropdown-content tpl-dropdown-content">
								<li class="tpl-dropdown-menu-messages"><a
									href="javascript:;"
									class="tpl-dropdown-menu-messages-item am-cf">
										<div class="menu-messages-ico">
											<img src="../../js/amazeUI/assets/img/user04.png" alt="">
										</div>
										<div class="menu-messages-time">3小时前</div>
										<div class="menu-messages-content">
											<div class="menu-messages-content-title">
												<i class="am-icon-circle-o am-text-success"></i> <span>夕风色</span>
											</div>
											<div class="am-text-truncate">Amaze UI 的诞生，依托于 GitHub
												及其他技术社区上一些优秀的资源；Amaze UI 的成长，则离不开用户的支持。</div>
											<div class="menu-messages-content-time">2016-09-21 下午
												16:40</div>
										</div>
								</a></li>

								<li class="tpl-dropdown-menu-messages"><a
									href="javascript:;"
									class="tpl-dropdown-menu-messages-item am-cf">
										<div class="menu-messages-ico">
											<img src="../../js/amazeUI/assets/img/user02.png" alt="">
										</div>
										<div class="menu-messages-time">5天前</div>
										<div class="menu-messages-content">
											<div class="menu-messages-content-title">
												<i class="am-icon-circle-o am-text-warning"></i> <span>禁言小张</span>
											</div>
											<div class="am-text-truncate">为了能最准确的传达所描述的问题，
												建议你在反馈时附上演示，方便我们理解。</div>
											<div class="menu-messages-content-time">2016-09-16 上午
												09:23</div>
										</div>
								</a></li>
								<li class="tpl-dropdown-menu-messages"><a
									href="javascript:;"
									class="tpl-dropdown-menu-messages-item am-cf"> <i
										class="am-icon-circle-o"></i> 进入列表…
								</a></li>
							</ul></li>

						<!-- 新提示 -->
						<li class="am-dropdown" data-am-dropdown><a
							href="javascript:;" class="am-dropdown-toggle"
							data-am-dropdown-toggle> <i class="am-icon-bell"></i> <span
								class="am-badge am-badge-warning am-round item-feed-badge">5</span>
						</a> <!-- 弹出列表 -->
							<ul class="am-dropdown-content tpl-dropdown-content">
								<li class="tpl-dropdown-menu-notifications"><a
									href="javascript:;"
									class="tpl-dropdown-menu-notifications-item am-cf">
										<div class="tpl-dropdown-menu-notifications-title">
											<i class="am-icon-line-chart"></i> <span> 有6笔新的销售订单</span>
										</div>
										<div class="tpl-dropdown-menu-notifications-time">12分钟前
										</div>
								</a></li>
								<li class="tpl-dropdown-menu-notifications"><a
									href="javascript:;"
									class="tpl-dropdown-menu-notifications-item am-cf">
										<div class="tpl-dropdown-menu-notifications-title">
											<i class="am-icon-star"></i> <span> 有3个来自人事部的消息</span>
										</div>
										<div class="tpl-dropdown-menu-notifications-time">30分钟前
										</div>
								</a></li>
								<li class="tpl-dropdown-menu-notifications"><a
									href="javascript:;"
									class="tpl-dropdown-menu-notifications-item am-cf">
										<div class="tpl-dropdown-menu-notifications-title">
											<i class="am-icon-folder-o"></i> <span> 上午开会记录存档</span>
										</div>
										<div class="tpl-dropdown-menu-notifications-time">1天前</div>
								</a></li>


								<li class="tpl-dropdown-menu-notifications"><a
									href="javascript:;"
									class="tpl-dropdown-menu-notifications-item am-cf"> <i
										class="am-icon-bell"></i> 进入列表…
								</a></li>
							</ul></li>

						<!-- 退出 -->
						<li class="am-text-sm"><a href="/logout"> <span
								class="am-icon-sign-out"></span> 退出
						</a></li>
					</ul>
				</div>
			</div>

		</header>
		<!-- 风格切换 -->
		<div class="tpl-skiner">
			<div class="tpl-skiner-toggle am-icon-cog"></div>
			<div class="tpl-skiner-content">
				<div class="tpl-skiner-content-title">选择主题</div>
				<div class="tpl-skiner-content-bar">
					<span class="skiner-color skiner-white" data-color="theme-white"></span>
					<span class="skiner-color skiner-black" data-color="theme-black"></span>
				</div>
			</div>
		</div>
		
			
		
		<!-- 用户模态框 -->
		<div class="am-modal am-modal-prompt" tabindex="-1" id="dialog">
			<div class="am-modal-dialog" id="sysUserFormDiv">
				<form class="am-form" action="/sysUser/testPut" method="post" id="sysUserForm">
					<fieldset>
						<legend>用户管理</legend>
						<input type="hidden" name="_method" value="put">
						<div class="am-form-group">
							<label for="doc-ipt-username-1">用户名</label>
							<input minlength="6" v-model="sysUser.vcUserName" class="am-form-field am-round" type="text" name="vcUserName" placeholder="设置用户名">
						</div>
						
						<div class="am-form-group" v-if="model==='add'">
							<label for="doc-ipt-pwd-1">密码</label>
							<input class="am-form-field am-round" v-model="sysUser.vcPassWord" minlength="6" type="password" name="vcPassWord" placeholder="设置密码">
						</div>
						
						<div class="am-form-group">
							<label for="doc-ipt-tel-1">手机号</label>
							<input class="am-form-field am-round js-pattern-mobile" v-model="sysUser.vcTel" required="required" data-validation-message="手机号码不符合规范噢"  type="tel" name="vcTel" placeholder="设置手机号">
						</div>
						
						<div class="am-form-group">
							<label for="doc-ipt-email-1">电子邮件</label> 
							<input class="am-form-field am-round js-pattern-email" v-model="sysUser.vcEmail" required="required" data-validation-message="邮箱格式不正确" type="email" name="vcEmail" placeholder="输入你的电子邮件">
						</div>
						
						<div class="am-form-group">
							<label class="am-radio-inline"> 
								<input type="radio" v-model="sysUser.nStatus" name="nStatus" value="2" checked="checked">正常
							</label>
							<label class="am-radio-inline"> 
								<input type="radio" v-model="sysUser.nStatus" name="nStatus" value="1">异常
							</label>
							<label class="am-radio-inline"> 
								<input type="radio" v-model="sysUser.nStatus" name="nStatus" value="0">封禁
							</label>
						</div>
						
						<div class="am-form-group">
					      <label class="am-checkbox-inline">
					        <input type="checkbox" minchecked="1" v-model="sysUser.flagList" name="flagList" value="nManagerFlag"> 切换管理员
					      </label>
					      <label class="am-checkbox-inline">
					        <input type="checkbox" v-model="sysUser.flagList" name="flagList" value="nRepairFlag"> 切换维修
					      </label>
					      <label class="am-checkbox-inline">
					        <input type="checkbox" v-model="sysUser.flagList" name="flagList" value="nSellerFlag"> 切换厂商
					      </label>
					    </div>

						<div class="am-form-group">
							<label for="doc-ta-1">备注</label>
							<textarea rows="5" v-model="sysUser.vcMemo" required id="doc-ta-1" name="vcMemo"></textarea>
						</div>

						<p>
							<button type="submit" class="am-btn am-btn-default">提交</button>
						</p>
					</fieldset>
				</form>
			</div>
		</div>
		
		<!-- 角色-菜单模态框 -->
		<div class="am-modal am-modal-prompt" tabindex="-1" id="menuDialog">
			<div class="am-modal-dialog" id="menuDialogVue">
				<form class="am-form" method="post" id="menuForm">
					<fieldset>
						<legend>用户-菜单管理</legend>
							<p>可选列表</p>
							<div class="am-form-inline" v-for="(item,index) in menuListInit">
								  <div class="am-form-group">
								  	<input v-model="item.vcName" type="text" readonly="readonly" class="am-form-field">
								  </div>
								  
								  <div class="am-form-group">
								   	<input v-model="item.vcUrl" type="text" readonly="readonly" class="am-form-field">
								  </div>
								  
								  <div class="am-form-group" >
								   	 <button type="button" class="am-btn am-btn-default" @click="addMenu(item,index)">添加</button>
								  </div>
								  <div style="height: 10px">
								  </div>
							</div>
							<hr>
							<p>当前列表</p>
							<div class="am-form-inline" v-for="(item,index) in menuList">
								  <div class="am-form-group">
								  	<input v-model="item.vcName" type="text" readonly="readonly" class="am-form-field">
								  </div>
								  
								  <div class="am-form-group">
								   	<input v-model="item.vcUrl" type="text" readonly="readonly" class="am-form-field">
								  </div>
								  
								  <div class="am-form-group" >
								   	 <button type="button" class="am-btn am-btn-default" @click="removeMenu(item,index)">删除</button>
								  </div>
								  <div style="height: 10px">
								  </div>
							</div>
						<p>
							<button type="submit" class="am-btn am-btn-default">提交</button>
						</p>
					</fieldset>
				</form>
			</div>
		</div>
		
		<!-- 侧边导航栏 -->
		<div class="left-sidebar" id="leftMenu">
            
        </div>

		<!-- 内容区域 -->
		<div class="tpl-content-wrapper">
			<div class="row-content am-cf">
				<div class="row">
					<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
						<div class="widget am-cf">
							<div class="widget-head am-cf">
								<div class="widget-title  am-cf">用户列表</div>


							</div>
							<div class="widget-body  am-fr">



								<div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
									<div class="am-form-group">
										<div class="am-btn-toolbar">
											<div class="am-btn-group am-btn-group-xs">
												<button type="button" id="addValueBtn"
													class="am-btn am-btn-default am-btn-success">
													<span class="am-icon-plus"></span> 新增
												</button>
												<button type="button"
													class="am-btn am-btn-default am-btn-secondary"
													onclick="saveValue()">
													<span class="am-icon-save"></span> 保存
												</button>
												<button type="button"
													class="am-btn am-btn-default am-btn-warning" onclick="">
													<span class="am-icon-archive"></span> 审核
												</button>
												<button type="button"
													class="am-btn am-btn-default am-btn-danger"
													onclick="deleteValue()">
													<span class="am-icon-trash-o"></span> 删除
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="am-u-sm-12 am-u-md-6 am-u-lg-3" id="roleListVue">
									<div class="am-form-group tpl-table-list-select">
										<select data-am-selected="{btnSize: 'sm'}"
											onchange="changeUserStatus(this)">
											<!-- @change="selectVal" -->
											<option :value="item.nId" v-for="item in roleList">{{item.vcName}}</option>
										</select>
									</div>
								</div>
								<div class="am-u-sm-12 am-u-md-12 am-u-lg-3" id="userName">
									<div
										class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
										<input type="text" class="am-form-field" placeholder="用户名..."
											v-model="userNameText"> <span
											class="am-input-group-btn">
											<button @click="onclick()"
												class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search"
												type="button"></button>
										</span>
									</div>
								</div>

								<div class="am-u-sm-12" id="userList">
									<table width="100%"
										class="am-table am-table-compact am-table-striped tpl-table-black "
										id="example-r">
										<thead>
											<tr>
												<th>序号</th>
												<th>用户状态</th>
												<th>用户名</th>
												<th>手机号</th>
												<th>邮箱</th>
												<th>登记时间</th>
											</tr>
										</thead>
										<tbody>
											<tr class="gradeX" v-for="(item,index) in tableList">
												<td>{{index+1}}</td>
												<td>{{item.nStatus | nStatus}}</td>
												<td>{{item.vcUserName}}</td>
												<td>{{item.vcTel}}</td>
												<td>{{item.vcEmail}}</td>
												<td>{{item.dtReg | dateFmtYMD}}</td>
												<!-- <td>{{dateFmtYMD(item.dtReg)}}</td> -->
												<td>
													<div class="tpl-table-black-operation">
														<a @click="editValue(item)" href="javascript:;"> <i class="am-icon-pencil"></i> 编辑</a>
														<a @click="editMenu(item)" href="javascript:;" class="tpl-table-black-operation-del"></i > 菜单设置</a>
														<a @click="deleteValue(item)" href="javascript:;" class="tpl-table-black-operation-del"> <i class="am-icon-trash"></i> 删除</a>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="am-u-lg-12 am-cf">
									<div id="pagination" class="m-pagination"
										style="margin-left: 40%; float: none; margin-top: 10%;"></div>
								</div>
							</div>
						</div>




					</div>
				</div>
			</div>
		</div>

	</div>
	</div>
	<script src="../../js/amazeUI/assets/js/amazeui.min.js"></script>
	<script src="../../js/amazeUI/assets/js/amazeui.datatables.min.js"></script>
	<script src="../../js/amazeUI/assets/js/dataTables.responsive.min.js"></script>
	<script src="../../js/amazeUI/assets/js/app.js"></script>

	<script src="../../js/vue.js"></script>
	<script type="text/javascript"
		src="../../js/amazeUI/assets/js/axios.min.js"></script>
	<script type="text/javascript" src="../../js/common/init-menu-vue.js"></script>
	<script type="text/javascript" src="../../js/common/left-menu.js"></script>
	<script type="text/javascript">
		var baseUrl=host+'/sysUser/sysUser';
		var userList = new Vue({
			el : '#userList',
			data : {
				tableList : []
			},
			methods : {
				editValue : function(item) {
					sysUserFormDiv.model="update";
					sysUserFormDiv.sysUser=item;
					sysUserFormDiv.sysUser.flagList=[];
					if(item.nManagerFlag==1){
						sysUserFormDiv.sysUser.flagList.push("nManagerFlag")
					}
					if(item.nSellerFlag==1){
						sysUserFormDiv.sysUser.flagList.push("nSellerFlag")
					}
					if(item.nRepairFlag==1){
						sysUserFormDiv.sysUser.flagList.push("nRepairFlag")
					}
					$('#dialog').modal({
						relatedTarget: this
					});
				},
				deleteValue : function(item){
					this.$http.delete("sysUser/sysUser/"+item.nId).then(response => {
						var data=response.data;
						alert(data.msg);
						if(data.status==200){
							userName.onclick();
						}
					}).catch((err) => {
		                alert("网络异常");
					});
				},
				editMenu(item){
					this.$http.get(host+'/sysMenu/sysMenu/'+item.nId).then(response => {
						var data=response.data;
						menuDialogVue.menuListInit=data.data.menuListInit;
						menuDialogVue.menuList=data.data.menuList;
						menuDialogVue.nUserId=item.nId;
						menuDialogVue.menuList.forEach(v=>{
							for(var i=0;i<menuDialogVue.menuListInit.length;i++){
								if(v.nId==menuDialogVue.menuListInit[i].nId){
									menuDialogVue.menuListInit.splice(i,1);
								}
							}
						});
						$('#menuDialog').modal({
							relatedTarget: this
						});					
					}).catch((err) => {
		                alert("网络异常");
					});
				}
			}
		})
		
		var roleListVue = new Vue({
			el : '#roleListVue',
			data : {
				roleList : [
				],
				n_Role_Id:''
			},
			created: function () {
	    		this.$http.get("sysRole/sysRole").then(function(res) {
					var data=res.data;
					roleListVue.roleList=data.rows;
					roleListVue.roleList.unshift({nId:'ALL',vcName:'全部'});
				}).catch(function(){
				    alert("出错了");
				});
	    	},
			methods: {
		        selectVal: function(ele) {
		            
		        }
		    }
		})
		
		var sysUser=new Object();
		sysUser.vcUserName='测试';
		
		//用户名查询框
		var userName = new Vue({
			el : '#userName',
			data : {
				userNameText : ''
			},
			methods : {
				onclick : function() {
					var url = baseUrl+'?n_Role_Id='+roleListVue.n_Role_Id+'&vcUserName='+userName.userNameText;
             	    $("#pagination").pagination('setRemoteUrl', url);
             	   	$("#pagination").pagination('remote');
				}
			}
		});
		
		//模态框vue对象
		var sysUserFormDiv=new Vue({
			el : '#sysUserFormDiv',
			data : {
				sysUser : {
					nStatus:'2',
					flagList:[]
				},
				model:'add'
			},
			methods : {
				submit : function() {
					var params=JSON.stringify(this.sysUser);
					if(sysUserFormDiv.model=="add"){
						this.$http.put("sysUser/sysUser",params).then(response => {
							var data=response.data;
							alert(data.msg);
							if(data.status==200){
								this.sysUser={nStatus:'2',flagList:[]};
								$('#dialog').modal('close');
								userName.onclick();
							}
						}).catch((err) => {
			                alert("网络异常");
						});
					}else if(sysUserFormDiv.model=="update"){
						this.$http.post("sysUser/sysUser",params).then(response => {
							var data=response.data;
							alert(data.msg);
							if(data.status==200){
								this.sysUser={nStatus:'2',flagList:[]};
								$('#dialog').modal('close');
								userName.onclick();
							}
						}).catch((err) => {
			                alert("网络异常");
						});
					}
				}
			}
		});
		
		//角色菜单Vue对象
		var menuDialogVue=new Vue({
			el : '#menuDialogVue',
			data : {
				menuList : [],
				menuListInit : [],
				nUserId: []
			},
			methods : {
				submit : function() {
					var obj=new Object();
					obj.menuList=[];
					obj.menuList=this.menuList;
					obj.nUserId=this.nUserId;
					var sysUserMenu=JSON.stringify(obj);
					this.$http.post("sysMenu/sysUserMenu",sysUserMenu).then(response => {
						menuDialogVue.menuList=[];
						menuDialogVue.menuListInit=[];
						var data=response.data;
						alert(data.msg);
						if(data.status==200){
							$('#menuDialog').modal('close');
							userName.onclick();
						}
					}).catch((err) => {
		                alert("网络异常");
					});
					
				},
				addMenu : function(item,index) {
					this.menuList.push(item);
					this.menuListInit.splice(index,1);
				},
				removeMenu : function (item,index){
					this.menuList.splice(index,1);
					this.menuListInit.push(item);
				}
			}
		})
	</script>
	
	<script type="text/javascript">
	$(function() {
		var baseUrl=host+'/sysUser/sysUser';
		$("#pagination").css('float', 'none');
		$("#pagination").pagination({
			remote : {
				beforeSend: $.AMUI.progress.start(), 
				complete: $.AMUI.progress.done(),
				url : baseUrl+'?n_Role_Id='+roleListVue.n_Role_Id+'&vcUserName='+userName.userNameText,
				success : function(result) {
					userList.tableList = result.rows;
				}
			}
		});
		
		//新增用户按钮
		$('#addValueBtn').on('click', function() {
			sysUserFormDiv.model="add";
			sysUserFormDiv.sysUser={nStatus:'2',flagList:[]};
			$('#dialog').modal({
			  relatedTarget: this
			});
		});
		
		//新增用户模态框校验器
		$('#sysUserForm').validator({
            validateOnSubmit: true,
            submit: function() {
                if(this.isFormValid()) {
                	sysUserFormDiv.submit();
                    return false;
                }
                return false;
            },
            onValid: function(validity) {
                $(validity.field).closest('.am-form-group').find('.am-alert').hide();
            },
            onInValid: function(validity) {
                var $field = $(validity.field);
                var $group = $field.closest('.am-form-group');
                var $alert = $group.find('.am-alert');
                // 使用自定义的提示信息 或 插件内置的提示信息
                var msg = $field.data('validationMessage') || this.getValidationMessage(validity);

                if (!$alert.length) {
                  $alert = $('<div class="am-alert am-alert-danger"></div>').hide().
                    appendTo($group);
                }

                $alert.html(msg).show();
              },
              patterns: {
            	  mobile:/^1(3|5|7|8){1}\d{9}$/,
            	  sid:/^20\d{10}$/,
            	  qq:/^[1-9][0-9]{4,14}$/,
            	  email:/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/
              },
              patternClassPrefix: 'js-pattern-'
		});
	})
	
	$('#menuForm').validator({
            validateOnSubmit: true,
            submit: function() {
                if(this.isFormValid()) {
                	menuDialogVue.submit();
                    return false;
                }
                return false;
            }
	})
	
	
	function changeUserStatus(obj){
		roleListVue.n_Role_Id=obj.value;
	}
	</script>
</body>

</html>